/*variables
-----------------------*/
:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

/*main
-----------------------*/

body {
  margin: 0;
  padding: 1rem;

  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;

  background: #193549;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

img {
  max-width: 90%;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

@media (max-width: 900px) {
  body {
    padding-top: 50px;
    font-size: 2rem;
  }
}

@media (max-width: 760px) {
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  input {
    width: 200px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1.5rem;
  }
}
