html {
  font-family: sans-serif;
  background-color: #ffc600;
}

.inbox {
  max-width: 400px;
  margin: 100px auto;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border: none;
}

input:checked + p {
  text-decoration: line-through;
  background: #f9f9f9;
}

input[type='checkbox'] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;

  flex-grow: 1;

  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;

  transition: all 0.2s;
  border-left: 1px solid #d1e2ff;
}
